* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("BebasNeueLight.eot");
  src: url("../fonts/BebasNeueBook.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.mobile-menu {
  display: none;
}
.container {
  max-width: 90rem;
  margin: auto;
  padding: 0;
}
.navbar {
  display: flex;
  align-items: center;
  color: #fff;
  height: 5.875rem;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.2s, height 0.2s;
}
.navbar-light {
  background-color: #fff;
  color: rgb(41, 45, 51);
  height: 4.625rem;
}
.phone-icon {
  fill: #5c8ee6;
}
.logo-svg {
  width: 8.75rem;
  height: 2.75rem;
}
.navbar-light .header-logo-path {
  fill: rgb(41, 45, 51);
}

.header {
  padding-top: 5.875rem;
  min-height: 89vh;
}
.header-image {
  background-image: url("../img/header-img.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -3.375rem;
  position: relative;
}
.header-image::before {
  content: "";
  position: absolute;
  background-color: rgba(41, 45, 51, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.header-logo {
  display: flex;
  align-items: center;
  padding: 0px 3.125rem;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}
.icon-svg {
  width: 2.25rem;
  height: 2.25rem;
}
.header-nav {
  flex-basis: 100%;
  display: flex;
  list-style: none;
  padding-left: 3.125rem;
  margin: 0;
}
.header-nav-item:not(:last-child) {
  margin-right: 2%;
}
.header-nav-link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
  letter-spacing: 0.0063rem;
}
.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header-phone-link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
  margin-right: 3.125rem;
}
.button {
  font-size: 1rem;
  font-weight: 600;
  line-height: 160%;
  color: #ffffff;
  background: rgb(58, 113, 209);
  padding: 1.5625rem 3.75rem;
  border: none;
  display: inline-block;
  cursor: pointer;
}
.navbar-button {
  flex-shrink: 0;
  height: 100%;
  padding: 1.5625rem 3.25rem;
  letter-spacing: 0.0063rem;
}
.navbar-button .button-icon {
  display: none;
}
.header-button {
  height: 100%;
}
.seporator {
  background: rgb(92, 142, 230);
  width: 9.375rem;
  height: 0.125rem;
}
.header-content {
  padding-top: 9.375rem;
  position: relative;
  z-index: 1;
  color: #fff;
}
.header-title {
  max-width: 67.5rem;
  font-family: "Bebas Neue";
  font-size: 5rem;
  line-height: 120%;
  margin: 1.875rem 0;
  margin-top: 1.25rem;
  letter-spacing: 0.0469rem;
  word-spacing: -0.125rem;
}
.header-text {
  max-width: 45rem;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 3.125rem;
  padding-top: 0.75rem;
  letter-spacing: 0.0063rem;
}
.header-features {
  display: flex;
  min-width: 10.5rem;
  padding: 0;
  margin-top: 6.125rem;
  list-style: none;
  color: #fff;
  position: relative;
}
.header-features-item {
  padding: 1.9375rem 3.0625rem;
  border: 1px solid rgba(235, 235, 240, 0.2);
  width: 18rem;
}
.header-features-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 0;
  margin-top: 1.0625rem;
}
.header-features-item:not(:last-child) {
  border-right: none;
}
.section {
  margin-top: 9.25rem;
  margin-bottom: 9.375rem;
}
.section-title {
  font-family: "Bebas Neue";
  font-size: 3.75rem;
  line-height: 120%;
  color: rgb(41, 45, 51);
  margin-top: 1.375rem;
  padding-top: 0.0625rem;
}
.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 3.75rem;
}
.steps-item {
  max-width: 18.75rem;
}
.steps-num {
  font-family: "Bebas Neue";
  color: rgb(92, 142, 230);
  font-size: 3rem;
  line-height: 120%;
  margin-top: 0.1875rem;
  display: flex;
  align-items: center;
  position: relative;
}
.steps-num::after {
  content: "";
  height: 0.0625rem;
  background: rgb(235, 235, 240);
  width: 16.25rem;
  margin-left: 4.375rem;
  position: absolute;
}
.steps-title {
  color: rgb(41, 45, 51);
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 160%;
  margin-top: 2.1875rem;
  margin-bottom: 0.625rem;
  letter-spacing: 0.0063rem;
}
.steps-text {
  color: rgb(130, 138, 153);
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
  letter-spacing: 0.0063rem;
}
.steps-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(92, 142, 230);
  font-size: 1rem;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: 0.0125rem;
}
.steps-link::before {
  content: "";
  height: 0.0625rem;
  background: rgb(92, 142, 230);
  width: 2.5rem;
  margin-right: 1.25rem;
}
@media (max-width: 1920px) {
  .header-image {
    background-position: center;
  }
}
@media (max-width: 1700px) {
  html {
    font-size: 14px;
  }
  .header-image {
    background-position: center;
  }
}
@media (max-width: 1460px) {
  html {
    font-size: 13px;
  }
  .header-logo {
    padding: 2rem;
  }
  .logo-svg {
    max-width: 6rem;
  }
  .header-nav {
    padding-left: 1rem;
  }
  .header-nav-item:not(:last-child) {
    padding-right: 1rem;
  }
  .header-phone-link {
    margin-right: 1rem;
  }
  .navbar-button {
    padding: 1.5625rem 2.25rem;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 70rem;
  }
  .steps-num::after {
    width: 10rem;
    margin-left: 3.375rem;
  }
  .header-phone {
    display: none;
  }
  .navbar {
    height: 5rem;
  }
  .navbar-button {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (max-width: 1150px) {
  .steps-num::after {
    width: 10rem;
  }
}
@media (max-width: 1030px) {
  html {
    font-size: 12px;
  }
  .container {
    max-width: 60rem;
  }
  .header-nav {
    display: none;
  }
  .header-logo {
    flex-grow: 1;
    justify-content: center;
  }
  .mobile-menu-toggle {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.8rem;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
  }
  .navbar-light .mobile-menu-line {
    background-color: #333;
  }
  .mobile-menu-line {
    height: 1px;
    background-color: #fff;
    width: 100%;
  }
  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }
  .navbar-button .button-text {
    display: none;
  }
  .navbar-button .button-icon {
    display: block;
    fill: #ffffff;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    z-index: 2;
    background-color: #fff;
    padding-top: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .mobile-menu.is-open {
    display: block;
  }
  .mobile-menu-nav {
    margin: 0;
    margin-top: 30px;
    list-style: none;
    padding: 0;
  }
  .mobile-menu-nav-item {
    margin-bottom: 2rem;
  }
  .mobile-menu-link {
    text-decoration: none;
    color: rgb(41, 45, 51);
    font-size: 14px;
    font-weight: 700;
  }
  .mobile-submenu {
    list-style: none;
    padding: 0;
    padding-left: 2rem;
    margin-top: 1rem;
  }
  .mobile-submenu-link {
    text-decoration: none;
    color: rgb(130, 138, 153);
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
  }

  .mobile-phone {
    display: block;
    color: rgb(41, 45, 51);
    font-size: 20px;
    font-weight: 600;
    line-height: 160%;
    border-top: 1px solid rgb(235, 235, 240);
    padding-top: 2rem;
    margin-bottom: 1rem;
  }
  .mobile-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .mobile-info-address,
  .mobile-info-email {
    text-decoration: none;
    font-style: normal;
    color: rgb(41, 45, 51);
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
  }
  .vk-inst-link {
    margin-top: 20px;
    display: flex;
    gap: 15px;
  }
  .mobile-submenu-item:not(:last-child) {
    padding-bottom: 10px;
  }
}
