@import url("normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("BebasNeueLight.eot");
  src: url("../fonts/BebasNeueBook.woff") format("woff");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.mobile-menu {
  display: none;
}
.container {
  max-width: 90rem;
  margin: auto;
  padding: 0;
}
.navbar {
  display: flex;
  align-items: center;
  color: #fff;
  height: 5.875rem;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.2s, height 0.2s;
}
.navbar-light {
  background-color: #fff;
  color: rgb(41, 45, 51);
}
.logo-dark {
  display: none;
}
.navbar-light .logo-light {
  display: none;
}
.navbar-light .logo-dark {
  display: block;
}
.navbar-scroll {
  height: 4.625rem;
}
.phone-icon {
  fill: #5c8ee6;
}

.logo-svg {
  width: 8.75rem;
  height: 2.75rem;
}
.navbar-light .header-logo-path {
  fill: rgb(41, 45, 51);
}
.header {
  padding-top: 5.875rem;
}
.no-webp .header-image {
  background-image: url("../img/header-img.jpeg");
}
.header-image {
  background-image: url("../img/header-img.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -3.375rem;
  position: relative;
}
.header-image::before {
  content: "";
  position: absolute;
  background-color: rgba(41, 45, 51, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.header-logo {
  display: flex;
  align-items: center;
  padding: 0px 3.125rem;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}
.icon-svg {
  width: 2.25rem;
  height: 2.25rem;
}
.header-nav {
  gap: 1.8125rem;
  flex-basis: 100%;
  display: flex;
  align-items: center;
  height: 100%;
  list-style: none;
  padding-left: 3.125rem;
  margin: 0;
}
.header-nav-item {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-nav-item:not(:last-child) {
  margin-right: 2%;
}
.header-nav-link {
  display: flex;
  height: 100%;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
  letter-spacing: 0.0063rem;
  position: relative;
}
.header-nav-link::after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -1px;
  background-color: rgb(92, 142, 230);
  height: 2px;
  transition: width 0.2s;
  right: 0;
  left: auto;
}
.header-nav-link:hover::after {
  width: 100%;
  right: auto;
  left: 0;
}
.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header-phone-link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
  margin-right: 3.125rem;
}
.button {
  font-size: 1rem;
  font-weight: 600;
  line-height: 160%;
  color: #ffffff;
  background: rgb(92, 142, 230);
  padding: 1.5625rem 3.8rem;
  border: none;
  display: inline-block;
  cursor: pointer;
}
.button:hover {
  background: rgb(58, 113, 209);
}
.navbar-button {
  flex-shrink: 0;
  height: 100%;
  padding: 0.5625rem 3.25rem;
  letter-spacing: 0.0063rem;
}
.navbar-button .button-icon {
  display: none;
}
.header-button {
  height: 100%;
}
.seporator {
  background: rgb(92, 142, 230);
  width: 9.375rem;
  height: 0.125rem;
}
.header-content {
  padding-top: 9.375rem;
  position: relative;
  z-index: 1;
  color: #fff;
}
.header-title {
  max-width: 67.5rem;
  font-family: "Bebas Neue";
  font-size: 5rem;
  line-height: 120%;
  margin: 1.875rem 0;
  margin-top: 1.25rem;
  letter-spacing: 0.0469rem;
  word-spacing: -0.125rem;
}
.header-text {
  max-width: 45rem;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 3.125rem;
  padding-top: 0.75rem;
  letter-spacing: 0.0063rem;
}
.header-features {
  display: flex;
  margin-bottom: -0.125rem;
  min-width: 10.5rem;
  padding: 0;
  margin-top: 6.125rem;
  list-style: none;
  color: #fff;
  position: relative;
}
.swiper-autoheight .swiper-slide {
  height: 100%;
}
.header-features-item {
  padding: 1.9375rem 3.0625rem;
  border: 1px solid rgba(235, 235, 240, 0.2);
  width: 18rem;
}
.slider-buttons {
  display: none;
  height: 44px;
}
.primary-buttons-wrapper {
  height: 60px;
  display: flex;
  justify-content: flex-end;
}
.slider-button-prev,
.slider-button-next {
  height: 100%;
  flex-basis: 50%;
  border: 1px solid rgba(235, 235, 240, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.primary-button-next,
.primary-button-prev {
  height: 100%;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: rgb(92, 142, 230);
}
.steps-buttons {
  display: none;
}
.header-features-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 0;
  margin-top: 1.0625rem;
}
.header-features-text-black {
  color: rgb(41, 45, 51);
}
.section {
  margin-bottom: 9.5rem;
}
.section-light {
  margin-top: 9.4rem;
  margin-bottom: 7.8rem;
}
.section-title {
  font-family: "Bebas Neue";
  font-size: 3.75rem;
  line-height: 120%;
  color: rgb(41, 45, 51);
  margin-top: 1.5rem;
  padding-top: 0.0625rem;
  margin-bottom: 3.4375rem;
  letter-spacing: 0.02rem;
}
.section-title-2 {
  display: none;
}
.section-title-image {
  color: rgb(255, 255, 255);
}
.section-title-light {
  font-family: "Bebas Neue";
  font-size: 3.75rem;
  line-height: 120%;
  color: rgb(41, 45, 51);
  margin-top: 1.2rem;
  padding-top: 0.0625rem;
  margin-bottom: 52px;
}
.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 3.75rem;
  margin: 0;
}
.steps-item {
  max-width: 18.75rem;
  height: auto;
}
.steps-num {
  font-family: "Bebas Neue";
  color: rgb(92, 142, 230);
  font-size: 3rem;
  line-height: 120%;
  margin-top: 0.1875rem;
  display: flex;
  align-items: center;
  position: relative;
}
.steps-num::after {
  content: "";
  height: 0.0625rem;
  background: rgb(235, 235, 240);
  width: 16.25rem;
  margin-left: 4.375rem;
  position: absolute;
}
.steps-title {
  color: rgb(41, 45, 51);
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 160%;
  margin-top: 2.1rem;
  margin-bottom: 0.7rem;
  letter-spacing: 0.0063rem;
}
.steps-text {
  color: rgb(130, 138, 153);
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
  letter-spacing: 0.0063rem;
}
.button-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(92, 142, 230);
  font-size: 1rem;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: 0.0125rem;
}
.button-link::before {
  content: "";
  height: 0.0625rem;
  background: rgb(92, 142, 230);
  width: 2.5rem;
  margin-right: 1.25rem;
  transition: width 0.2s;
}
.button-link:hover::before {
  width: 60px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  height: 593px;
  width: 480px;
  border: 1px solid rgb(235, 235, 240);
  position: relative;
  text-decoration: none;
  transition: border 0.2s;
}
.card:hover .card-title {
  color: rgb(92, 142, 230);
}
.card:hover {
  border-color: rgb(92, 142, 230);
}
.card-content {
  padding: 2.5rem 7.2rem 3.125rem 3rem;
}
.card-title {
  color: rgb(41, 45, 51);
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 160%;
  margin-top: 0;
  margin-bottom: 0.625rem;
  transition: color 0.2s;
}
.card-text {
  color: rgb(130, 138, 153);
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 20rem;
  margin-top: 0.6875rem;
}
.card-image {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}
.card-marks {
  display: flex;
}
.card-mark {
  display: grid;
  grid-column-gap: 3.125rem;
  flex-basis: 50%;
  text-decoration: none;
  border: 1px solid rgb(235, 235, 240);
  padding: 3.125rem;
  padding-bottom: 0.5rem;
  transition: border 0.2s;
  grid-template-columns: 11.25rem 1fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas:
    "logo title title"
    "logo text text";
}
.card-mark:hover {
  border-color: rgb(92, 142, 230);
}
.card-mark:hover .card-marks-title {
  color: rgb(92, 142, 230);
}
.card-marks-title {
  grid-area: title;
  color: rgb(41, 45, 51);
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 160%;
  margin: 0;
  margin-bottom: 0.625rem;
  transition: color 0.2s;
}
.card-marks-text {
  grid-area: text;
  color: rgb(130, 138, 153);
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin: 0;
  margin-right: 1.875rem;
}
.card-marks-logo {
  grid-area: logo;
  width: 11.25rem;
  height: 11.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.al-blue {
  fill: #828a99;
  transition: fill 0.2s;
}
.ag-blue {
  fill: #828a99;
  transition: fill 0.2s;
}
.card-mark:hover .al-blue {
  fill: #5c8ee6;
}
.card-mark:hover .ag-blue {
  fill: #5c8ee6;
}
.founder {
  min-height: 41.25rem;
  position: relative;
  margin-bottom: 9.25rem;
}
.founder-photo {
  position: absolute;
  left: 0;
  width: 43.74%;
  top: 0;
  min-height: 100%;
  object-fit: cover;
}
.founder-content {
  max-width: 45rem;
  margin-top: 3rem;
}
.founder-content-wrapper {
  display: flex;
  justify-content: flex-end;
}
.section-title-founder {
  font-family: "Bebas Neue";
  font-size: 3.75rem;
  line-height: 120%;
  color: rgb(41, 45, 51);
  margin-top: 1.5rem;
  padding-top: 0.0625rem;
  margin-bottom: 1.67rem;
  letter-spacing: 0.02rem;
  padding-right: 4.8125rem;
}
.founder-text-1 {
  color: rgb(130, 138, 153);
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 1.4rem;
  letter-spacing: 0.16px;
}
.founder-text-2 {
  color: rgb(130, 138, 153);
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 2.03rem;
  letter-spacing: 0.16px;
}
.clients-wrapper {
  display: flex;
  gap: 3.6rem;
}
.clients-content {
  flex-basis: 46%;
}
.section-title-clients {
  font-family: "Bebas Neue";
  font-size: 3.75rem;
  line-height: 120%;
  color: rgb(41, 45, 51);
  margin-top: 1.5rem;
  padding-top: 0.0625rem;
  margin-bottom: 2.67rem;
  letter-spacing: 0.02rem;
  padding-right: 3.8125rem;
}
.clients-list {
  list-style: none;
  padding: 0;
  columns: 2 auto;
  column-gap: 3.75rem;
}
.clients-list-item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  color: rgb(41, 45, 51);
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 1.25rem;
}

.clients-logo-list {
  display: flex;
  flex-wrap: wrap;
  height: 479px;
  width: 719px;
  margin-top: 31px;
}
.clients-logo-item {
  flex-basis: 33.33%;
  border: 1px solid rgb(235, 235, 240);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.0625rem;
}
.clients-logo {
  max-width: 100%;
  filter: grayscale(100%);
  cursor: pointer;
}
.clients-logo:hover {
  filter: grayscale(0);
}
.section-title-clients-2 {
  display: none;
}
.section-title-founder-2 {
  display: none;
}
.button-link-founder {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(92, 142, 230);
  font-size: 1rem;
  font-weight: 600;
  line-height: 160%;
}
.button-link-founder::before {
  content: "";
  height: 0.0625rem;
  background: rgb(92, 142, 230);
  width: 2.5rem;
  margin-right: 1.25rem;
  transition: width 0.2s;
}
.button-link-founder:hover::before {
  width: 60px;
}
.button-link-founder-2 {
  display: none;
}
.blog-card {
  display: flex;
  position: relative;
  min-height: 25rem;
  flex-direction: column;
  text-decoration: none;
  color: #fff;
  justify-content: flex-end;
  padding: 3.125rem;
}
.blog-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(41, 45, 51, 0.6);
  z-index: -1;
}
.blog-card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
.blog-card-title {
  color: rgb(255, 255, 255);
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 0.625rem;
  margin-top: 0;
}
.blog-card-title-about {
  display: none;
}
.blog-card-text {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin: 0;
}
.blog-slider-footer {
  display: flex;
  align-items: center;
  margin-top: 1.875rem;
  justify-content: space-between;
}
.bg-grey {
  background: rgb(240, 242, 245);
}
.cta {
  margin-bottom: 0;
}
.section-cta {
  position: relative;
  padding-top: 1.25rem;
  margin-top: 14rem;
  padding-bottom: 6.3rem;
}
.cta-image {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 45rem;
  width: 50%;
}
.cta-form-wrapper {
  display: flex;
  justify-content: flex-end;
}
.cta-form {
  max-width: 52.5rem;
  padding-right: 9rem;
  padding-top: 2.9375rem;
}
.cta-form-title {
  font-weight: 600;
  margin: 0;
  margin-top: 1.5625rem;
}
.cta-form-text {
  color: rgb(130, 138, 153);
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-top: 1.7rem;
  margin-bottom: 3rem;
  max-width: 40rem;
}
.input-group-wrapper {
  display: flex;
  gap: 1.875rem;
  width: 52.5rem;
}
.input-group-vertical {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.input-group {
  position: relative;
  height: 66px;
  flex-grow: 1;
  background-color: rgb(240, 242, 245);
}
.input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.25rem 1.875rem;
  border: 1px solid rgb(228, 228, 235);
  background-color: inherit;
}
.input-group-label {
  position: absolute;
  cursor: text;
  top: 24px;
  left: 30.4px;
  color: rgb(130, 138, 153);
  font-size: 16px;
  font-weight: 400;
  transition: top 0.2s, left 0.2s, font-size 0.2s;
}
.input:focus {
  border: 1px solid rgb(92, 142, 230);
  outline: 0;
}
.input:focus ~ .input-group-label,
.input:not(:placeholder-shown).input:not(:focus) ~ .input-group-label {
  top: -0.3rem;
  left: 1.25rem;
  font-size: 0.625rem;
  background-color: inherit;
  padding: 0 0.625rem;
}
.input.is-invalid {
  border: 1px solid red;
}
.just-validate-error-label {
  position: absolute;
  top: 0;
  right: 10px;
  transform: translateY(-50%);
  background-color: inherit;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.8rem;
  display: inline-block;
}
.cta-form-footer {
  display: flex;
  margin-top: 1.875rem;
  gap: 1.875rem;
  align-items: center;
}
.cta-form-button {
  flex-shrink: 0;
  width: 235px;
  height: 62px;
  padding: 1rem 1rem;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  line-height: 160%;
}
.notify {
  display: flex;
  align-items: flex-start;
  gap: 0.625rem;
}
.notify-icon {
  flex-shrink: 0;
}
.notify-text {
  max-width: 23.75rem;
  margin: 0;
  color: rgb(130, 138, 153);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 160%;
}
.footer-top {
  padding-top: 3.1rem;
  padding-bottom: 2.7rem;
  display: flex;
  align-items: center;
}
.footer-info-glob-adress {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  color: rgb(41, 45, 51);
  gap: 10px;
  margin-left: 5.1875rem;
}
.footer-info-glob-mail {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  color: rgb(41, 45, 51);
  gap: 10px;
  margin-left: 3.25rem;
}
.footer-info-address,
.footer-info-email {
  font-style: inherit;
  text-decoration: inherit;
  color: inherit;
}
.footer-logo {
  width: 12.5rem;
  height: 3.75rem;
}
.footer-phone {
  color: rgb(41, 45, 51);
  font-size: 2rem;
  font-weight: 600;
  line-height: 160%;
  margin-left: 10rem;
}
.footer-social {
  margin-left: 4.5625rem;
  display: flex;
  gap: 15px;
}
.footer-social-link {
  text-decoration: none;
}
.footer-seporator {
  color: rgb(235, 235, 240);
  opacity: 0.1;
}
.footer-bottom {
  display: flex;
  padding-top: 2.5rem;
  padding-bottom: 0.4rem;
}
.footer-menu-title {
  margin-top: 0;
  margin-bottom: 2rem;
  color: rgb(41, 45, 51);
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
}
.footer-menu-list {
  margin: 0;
  padding-left: 1.25rem;
  list-style: none;
}
.footer-menu-columns-2 {
  columns: 20rem auto;
  min-width: 45.1rem;
}
.footer-menu-link {
  text-decoration: none;
  color: rgb(130, 138, 153);
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 0.9375rem;
  display: block;
  position: relative;
}
.footer-menu-link:hover {
  color: #5c8ee6;
}
.footer-menu-link-bold {
  color: rgb(41, 45, 51);
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
  margin-bottom: 1.875rem;
}
.footer-menu-wrapper:last-child {
  margin-left: 10.6rem;
}
.footer-wrapper {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: rgb(130, 138, 153);
  font-style: normal;
}
.footer-wrapper,
.footer-legal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5.2rem;
}
.footer-copyright,
.footer-policy {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 160%;
  color: inherit;
}
.made-in {
  color: rgb(130, 138, 153);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 160%;
}
.made-in-2 {
  display: none;
  color: rgb(130, 138, 153);
  font-size: 12px;
  font-weight: 400;
  line-height: 160%;
}
.footer-author {
  display: flex;
  gap: 10px;
}
.footer-social-icon {
  margin-top: 0.1875rem;
}
.modal {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 45, 51, 0.5);
  z-index: 10;
  display: flex;
}
.modal.is-open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}
.modal.is-open .modal-dialog {
  transform: translateY(0);
  opacity: 1;
}
.modal-dialog {
  background-color: #fff;
  margin: auto;
  max-width: 28.75rem;
  padding: 2.1rem 3.125rem;
  position: relative;
  transform: translateY(-10%);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
  margin-top: 10.75rem;
}
.modal-close {
  display: block;
  position: absolute;
  top: 2.5rem;
  right: 3.125rem;
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(235, 235, 240);
}
.close-icon {
  height: 1.5rem;
  width: 1.5rem;
}
.modal-title {
  color: rgb(41, 45, 51);
  font-style: normal;
  font-family: "Bebas Neue";
  font-size: 3rem;
  font-weight: 600;
  line-height: 120%;
  margin-top: 0;
  margin-bottom: 1.6875rem;
}
.modal-image {
  margin-bottom: 1.875rem;
  max-width: 100%;
}
.modal-text {
  color: rgb(130, 138, 153);
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 1.875rem;
}
.modal-input-group {
  background-color: #fff;
}
.modal-form-footer {
  margin-top: 1.875rem;
}
.modal-form-button {
  display: block;
  margin-bottom: 21px;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 160%;
  height: 4rem;
  padding: 0.5625rem 3.8rem;
}
.modal-notify-text {
  margin-bottom: 0.4375rem;
}
.modal-notify-icon {
  margin-top: 0.1875rem;
}
.inside-header {
  padding-top: 5.875rem;
  background-color: rgb(240, 242, 245);
}
.inside-header-wrapper {
  position: relative;
  z-index: 0;
  height: 100%;
  width: 100%;
}
.back-inside-header-image {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.blackout {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: rgba(41, 45, 51, 0.6);
}
.inside-header-content {
  padding-top: 3.125rem;
  display: flex;
  justify-content: space-between;
}
.inside-header-image {
  width: 30rem;
  height: 15rem;
}
.breadcrumb {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 3.125rem;
}
.crumb-item {
  text-decoration: none;
  position: relative;
  margin-right: 2.125rem;
  align-items: center;
  color: rgb(130, 138, 153);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 160%;
}
.crumb-item-white {
  text-decoration: none;
  position: relative;
  margin-right: 2.125rem;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 160%;
}
.crumb-item-white::after {
  content: "";
  position: absolute;
  width: 0.875rem;
  height: 1px;
  color: rgb(255, 255, 255);
  margin-left: 10px;
  margin-right: 10px;
  top: 10px;
}
.crumb-item::after {
  content: "";
  position: absolute;
  width: 0.875rem;
  height: 1px;
  background: rgb(130, 138, 153);
  margin-left: 10px;
  margin-right: 10px;
  top: 10px;
}
.breadcrumb-item:last-child .crumb-item {
  color: rgb(41, 45, 51);
}
.breadcrumb-item:last-child .crumb-item-white {
  color: rgb(255, 255, 255);
}
.breadcrumb-item:last-child .crumb-item::after {
  display: none;
}
@media (max-width: 1920px) {
  .header-image {
    background-position: center;
  }
}
@media (max-width: 1700px) {
  html {
    font-size: 14px;
  }
  .header-image {
    background-position: center;
  }
  .header-nav {
    gap: 1rem;
  }
  .clients-content {
    flex-basis: 60%;
  }
  .footer-logo {
    width: 11rem;
    height: 3.75rem;
  }
}
@media (max-width: 1460px) {
  html {
    font-size: 13px;
  }
  .header-logo {
    padding: 2rem;
  }
  .logo-svg {
    width: 6rem;
  }
  .header-nav {
    padding-left: 1rem;
    gap: 0;
  }
  .header-nav-item:not(:last-child) {
    padding-right: 1rem;
  }
  .header-phone-link {
    margin-right: 1rem;
  }
  .navbar-button {
    padding: 0.5625rem 2.25rem;
  }
  .header-phone {
    gap: 0.5rem;
  }
  .cta-image {
    width: 40%;
  }
  .footer-logo {
    width: 10rem;
    height: 3.75rem;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 70rem;
  }
  .steps-num::after {
    width: 10rem;
    margin-left: 3.375rem;
  }
  .header-phone {
    display: none;
  }
  .navbar {
    height: 5.7rem;
  }
  .navbar-button {
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .steps-num::after {
    width: 10rem;
  }
  .header-nav-item:not(:last-child) {
    padding-right: 0;
  }
  .slider-buttons {
    display: flex;
  }
  .steps {
    gap: 1rem;
  }
  .steps-item {
    max-width: 100%;
  }
  .card {
    flex-basis: 50%;
  }
  .card-marks {
    flex-wrap: wrap;
  }
  .card-mark {
    grid-template-columns: auto auto;
  }
  .card-marks-logo {
    width: 9rem;
    height: 9rem;
  }
  .card-mark {
    grid-template-rows: 1fr 3fr;
  }
  .card-marks-text {
    margin-right: 0;
  }
  .founder-content {
    max-width: 35rem;
  }
  .clients-content {
    flex-basis: 60%;
  }
  .clients-logo-list {
    flex-shrink: 10;
  }
  .clients-wrapper {
    flex-direction: column;
  }
  .section-title-clients {
    padding-right: 21.8125rem;
  }
  .clients-list {
    column-gap: 0;
  }
  .cta {
    margin-bottom: 0;
  }
  .cta-image {
    display: none;
  }
  .cta-form-wrapper {
    justify-content: center;
  }
  .input-group-wrapper {
    display: block;
  }
  .input-group {
    margin-bottom: 1.25rem;
  }
  .cta-form-footer {
    display: block;
  }
  .cta-form {
    padding-right: 0;
  }
  .cta-form-button {
    width: 100%;
    margin-bottom: 1.875rem;
  }
  .notify-text {
    max-width: 100%;
  }
  .footer-logo {
    display: none;
  }
  .footer-phone {
    margin-left: 0;
  }
  .footer-menu-columns-2 {
    min-width: 0;
  }
  .section-cta {
    padding-bottom: 4.2rem;
  }
  .inside-header-image {
    display: none;
  }
  .inside-header {
    padding-top: 3.875rem;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 12px;
  }
  .container {
    max-width: 60rem;
  }
  .header-nav {
    display: none;
  }
  .header-logo {
    flex-grow: 1;
    justify-content: center;
  }
  .mobile-menu-toggle {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.28rem 2.41rem;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
    transition: 0.2s;
  }
  .mobile-menu-toggle-light {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.4rem 2.5rem;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
  }
  .toggle-with-scroll {
    padding: 1.4rem 2.41rem;
  }
  .close-menu {
    padding: 1.3rem 3.1rem;
  }
  .navbar-light .mobile-menu-line {
    background-color: #333;
  }
  .mobile-menu-line {
    height: 1px;
    background-color: #fff;
    width: 20px;
    transition: transform 0.2s;
  }
  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }
  .navbar-button .button-text {
    display: none;
  }
  .logo-svg {
    width: 10rem;
    height: 3.75rem;
  }
  .navbar-button .button-icon {
    display: block;
    fill: #ffffff;
    margin: 0.6rem;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    z-index: 2;
    background-color: #fff;
    padding-top: 4rem;
    padding-left: 1.2rem;
    padding-right: 1.5rem;
  }
  .mobile-menu.is-open {
    display: block;
  }
  .mobile-menu-nav {
    margin: 0;
    margin-top: 32px;
    list-style: none;
    padding: 0;
    margin-bottom: 32px;
  }
  .mobile-menu-nav-item {
    margin-bottom: 2.89rem;
  }
  .mobile-menu-link {
    text-decoration: none;
    color: rgb(41, 45, 51);
    font-size: 14px;
    font-weight: 700;
  }
  .mobile-submenu {
    list-style: none;
    padding: 0;
    padding-left: 1.7rem;
    margin-top: 2rem;
  }
  .mobile-submenu-link {
    text-decoration: none;
    color: rgb(130, 138, 153);
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
  }

  .mobile-phone {
    display: block;
    color: rgb(41, 45, 51);
    font-size: 20px;
    font-weight: 600;
    line-height: 160%;
    border-top: 1px solid rgb(235, 235, 240);
    padding-top: 2.6rem;
    margin-bottom: 1.5rem;
  }
  .mobile-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.85rem;
  }
  .mobile-info-address,
  .mobile-info-email {
    text-decoration: none;
    font-style: normal;
    color: rgb(41, 45, 51);
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
  }
  .vk-inst-link {
    margin-top: 20px;
    display: flex;
    gap: 15px;
  }
  .mobile-submenu-item:not(:last-child) {
    padding-bottom: 9px;
  }
  .close-menu .mobile-menu-line:nth-child(2) {
    display: none;
  }
  .close-menu .mobile-menu-line:nth-child(1) {
    transform: rotate(45deg) translateY(10px);
  }
  .close-menu .mobile-menu-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-10px);
  }
  .primary-buttons-wrapper {
    height: 40px;
  }
  .primary-button-next,
  .primary-button-prev {
    width: 60px;
  }
  .steps-buttons {
    display: flex;
  }
  .steps {
    gap: 0;
  }
  .card-marks {
    flex-direction: column;
  }
  .card-mark {
    grid-template-rows: 1fr 2fr;
  }
  .founder-photo {
    width: 38.74%;
  }
  .footer-top {
    align-items: flex-start;
    flex-direction: column;
  }
  .footer-logo {
    display: flex;
    margin-bottom: 1.875rem;
    width: 13.4rem;
    height: 4.2rem;
  }
  .footer-phone {
    margin-bottom: 1.25rem;
  }
  .footer-info-glob-adress {
    margin: 0;
    margin-bottom: 0.625rem;
  }
  .footer-info-glob-mail {
    margin: 0;
    margin-bottom: 1.25rem;
  }
  .footer-social {
    margin: 0;
  }
  .footer-bottom {
    flex-direction: column;
  }
  .footer-menu-columns-2 {
    columns: 1;
  }
  .footer-menu-wrapper:last-child {
    margin: 0;
  }
  .footer-seporator {
    margin: 0;
  }
  .footer-menu-list {
    margin-bottom: 1.875rem;
  }
  .footer-wrapper,
  .footer-legal {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
    flex-direction: column;
  }
  .footer-copyright {
    margin-bottom: 0.9rem;
    margin-top: 0;
    color: rgb(130, 138, 153);
    font-size: 12px;
    font-weight: 400;
    line-height: 160%;
  }
  .footer-policy {
    margin-bottom: 0.625rem;
  }
  .footer-menu-title {
    color: rgb(41, 45, 51);
    font-size: 14px;
    font-weight: 700;
    line-height: 160%;
    margin-bottom: 1.7rem;
  }
  .footer-bottom {
    padding-top: 2rem;
  }
  .footer-menu-list {
    padding-left: 1.7rem;
    margin-bottom: 1.6rem;
  }
  .footer-menu-link {
    color: rgb(130, 138, 153);
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 0.8rem;
  }
  .footer-menu-link-bold {
    color: rgb(41, 45, 51);
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
  }
  .footer-menu-link:hover {
    color: rgb(130, 138, 153);
  }
  .footer-title {
    padding-left: 0;
  }
  .footer-menu-link-bold {
    color: rgb(41, 45, 51);
    font-size: 14px;
    font-weight: 700;
    line-height: 160%;
    margin-bottom: 2.56rem;
  }
  .footer-menu-list {
    margin-top: 0.7rem;
  }
  .footer-policy {
    color: rgb(130, 138, 153);
    font-size: 12px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 1rem;
  }
  .made-in {
    display: none;
  }
  .made-in-2 {
    display: block;
  }
  .footer-author {
    gap: 15px;
  }
  .button-link:hover::before {
    width: 3.3rem;
  }
  .card-mark:hover .al-blue {
    fill: #828a99;
  }
  .card-mark:hover .ag-blue {
    fill: #828a99;
  }
  .card-mark:hover {
    border-color: rgb(235, 235, 240);
  }
  .card-mark:hover .card-marks-title {
    color: rgb(41, 45, 51);
  }
  .button:hover {
    background: rgb(92, 142, 230);
  }
  .card:hover .card-title {
    color: rgb(41, 45, 51);
  }
  .card:hover {
    border-color: rgb(235, 235, 240);
  }
  .footer-menu-link:hover {
    color: rgb(130, 138, 153);
  }
  .clients-logo:hover {
    filter: grayscale(100%);
  }
  .button-link::before {
    width: 3.3rem;
    margin-right: 1.7rem;
  }

  @media (max-width: 768px) {
    .container {
      max-width: 40rem;
    }
    .header-title {
      font-size: 4rem;
    }
    .header-content {
      padding-top: 4rem;
    }
    .card {
      flex-basis: 100%;
    }
    .card-mark {
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "logo title"
        "text text";
    }
    .card-marks-logo {
      height: 100px;
      width: 100px;
    }
    .card-marks-text {
      margin-top: 1.5rem;
    }
    .founder-photo {
      position: relative;
      width: 100%;
      margin-bottom: 3.125rem;
    }
    .section-title-clients {
      padding-right: 2.9rem;
    }
    .clients-logo-list {
      width: 100%;
    }
    .input-group-wrapper {
      width: 100%;
    }
    .input-group {
      height: 62px;
      width: 100%;
      margin-bottom: 1.65rem;
    }
  }
  @media (max-width: 576px) {
    .container {
      max-width: 92%;
    }
    .card-marks-logo {
      height: 106px;
      width: 100px;
    }
    .card-mark {
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "logo title"
        "text text";
    }
    .card-marks-text {
      margin-right: 0;
    }
    .logo-svg {
      width: 10rem;
      height: 3.75rem;
    }
    .seporator {
      width: 8.3rem;
      height: 0.1rem;
    }
    .header-text {
      font-size: 1.15rem;
      padding-top: 0;
      word-spacing: 0.3rem;
      letter-spacing: 0;
      margin-bottom: 2.4rem;
    }
    .header-title {
      margin: 1.4rem 0;
      letter-spacing: 0.02rem;
      word-spacing: 0;
    }
    .button {
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .header-features {
      margin-top: 4.3rem;
    }
    .header-features-item {
      padding: 1.6rem 2.5rem;
    }
    .header-features-text {
      margin-top: 1.5rem;
      font-size: 1.1rem;
    }
    .swiper-wrapper-hf {
      height: 140px;
    }
    .header-image {
      background-size: 500%;
    }
    .section-light {
      margin-top: 8.4rem;
      margin-bottom: 8.45rem;
    }
    .section-title-light {
      font-size: 2.75rem;
      margin-top: 1.6rem;
      letter-spacing: 0.11rem;
      margin-bottom: 2.4rem;
    }
    .steps-num {
      font-size: 4rem;
    }
    .steps-num::after {
      width: 19rem;
      margin-left: 6rem;
    }
    .steps-title {
      margin-top: 1rem;
      letter-spacing: -0.5px;
      margin-bottom: 0;
    }
    .steps-text {
      font-size: 1.2rem;
      margin-top: 0.4rem;
      padding-right: 2rem;
      letter-spacing: -0.1px;
      margin-bottom: 2.33rem;
      line-height: 150%;
    }
  }
  .button-link {
    letter-spacing: 0.14rem;
  }
  .section-title {
    display: none;
    font-size: 2.75rem;
    letter-spacing: 1.4px;
    margin-bottom: 36px;
  }
  .card-content {
    padding: 1.3rem 3.2rem 3.125rem 2.4rem;
  }
  .card-title {
    letter-spacing: -0.5px;
    margin-bottom: 0;
    line-height: 133%;
  }
  .card-text {
    margin-top: 0.6rem;
    font-size: 1.2rem;
    letter-spacing: -0.1px;
  }
  .card {
    height: 430px;
  }
  .steps-buttons {
    margin-top: 1.5rem;
  }
  .header-features {
    height: 141px;
  }
  .section-title-2 {
    font-size: 2.75rem;
    letter-spacing: 0.12rem;
    margin-bottom: 3rem;
    font-family: "Bebas Neue";
    line-height: 120%;
    color: rgb(41, 45, 51);
    margin-top: 1.5rem;
    padding-top: 0.0625rem;
    display: block;
  }
  .section {
    margin-bottom: 7.75rem;
  }
  .card-mark {
    padding: 2.2rem 2.4rem;
    grid-column-gap: 0;
    grid-template-columns: 1fr 2fr;
  }
  .card-marks-title {
    margin-left: 2.49rem;
    letter-spacing: -0.4px;
    line-height: 134%;
  }

  .card-marks-text {
    font-size: 1.1rem;
    letter-spacing: 0.04rem;
    margin-top: 1.4rem;
  }
  .button-link::before {
    content: "";
  }
  .clients-list {
    columns: 1;
  }
  .clients-logo-item {
    flex-basis: 50%;
    padding-left: 2.6rem;
  }
  .section-title-clients {
    display: none;
  }
  .section-title-founder {
    display: none;
  }
  .founder-photo {
    margin-top: 0.7rem;
  }
  .founder-content {
    margin-top: 0.9rem;
  }
  .section-title-founder-2 {
    font-size: 2.75rem;
    letter-spacing: 1.45px;
    margin-bottom: 1.2rem;
    font-family: "Bebas Neue";
    line-height: 127%;
    color: rgb(41, 45, 51);
    margin-top: 1.5rem;
    padding-top: 0.0625rem;
    display: block;
  }
  .founder-text-1 {
    font-size: 1.17rem;
    line-height: 157%;
    margin-bottom: 0.7rem;
  }
  .founder-text-2 {
    font-size: 1.17rem;
    line-height: 157%;
    margin: 0;
    margin-bottom: 1.7rem;
  }
  .founder {
    margin-bottom: 8.2rem;
  }
  .section-title-clients-2 {
    font-size: 2.75rem;
    letter-spacing: 1.5px;
    margin-bottom: 2.7rem;
    font-family: "Bebas Neue";
    line-height: 130%;
    color: rgb(41, 45, 51);
    margin-top: 1.5rem;
    padding-top: 0.0625rem;
    display: block;
  }
  .clients-list-item {
    font-size: 1.19rem;
    gap: 1.6rem;
  }
  .clients-logo {
    max-width: 74%;
  }
  .clients-logo-list {
    margin-top: 0;
  }
  .clients-wrapper {
    gap: 0;
  }
  .clients-logo-list {
    height: 550px;
  }
  .clients-list {
    margin-bottom: 1.31rem;
  }
  .button-link-founder-2 {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(92, 142, 230);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0.0125rem;
  }
  .button-link-founder-2::before {
    content: "";
    height: 0.0625rem;
    background: rgb(92, 142, 230);
    width: 3.3rem;
    margin-right: 1.7rem;
    transition: width 0.2s;
  }
  .button-link-founder {
    display: none;
  }

  .clients-logo {
    filter: grayscale(100%);
  }
  .blog {
    margin-top: 8.3rem;
  }
  .blog-card-text {
    display: none;
  }
  .blog-card {
    height: 195px;
    min-height: 195px;
  }
  .blog-card-title {
    position: absolute;
    bottom: 11px;
    left: 20px;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 120%;
    padding-right: 54px;
  }
  .blog-slider {
    margin-top: 3.2rem;
  }
  .blog-slider-footer {
    margin-top: 1.7rem;
  }
  .input-group-wrapper {
    width: 28.5rem;
  }
  .cta {
    margin-bottom: 0;
  }
  .cta-form-title {
    display: block;
  }
  .section-cta {
    margin-top: 8.3rem;
    padding-top: 0;
  }
  .cta-form-title {
    margin-top: 1rem;
    margin-bottom: 1.4rem;
  }
  .cta-form-text {
    margin-top: 0;
    color: rgb(130, 138, 153);
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 2.3rem;
  }
  .input-group-wrapper {
    width: 100%;
  }
  .input-group {
    height: 62px;
    width: 100%;
    margin-bottom: 1.65rem;
  }
  .input-group:last-child {
    margin-bottom: 0;
  }
  .cta-form-footer {
    margin-top: 0.8rem;
  }
  .notify-text {
    color: rgb(130, 138, 153);
    font-size: 12px;
    font-weight: 400;
    line-height: 160%;
    padding-left: 0.1875rem;
  }
  .cta-form-button {
    margin-bottom: 2.5rem;
  }
  .input-group-label {
    color: rgb(130, 138, 153);
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    top: 1.7rem;
    left: 2.5rem;
  }
  .footer-logo {
    width: 13.5rem;
    height: 5.75rem;
  }
  .footer-phone {
    color: rgb(41, 45, 51);
    font-size: 28px;
    font-weight: 600;
    line-height: 160%;
    margin-bottom: 1.7rem;
  }
  .footer-info-glob-adress,
  .footer-info-glob-mail {
    color: rgb(41, 45, 51);
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
  }
  .footer-info-glob-adress {
    margin-bottom: 0.8rem;
  }
  .footer-info-glob-mail {
    margin-bottom: 1.45rem;
  }
  .modal-dialog {
    padding: 2.2rem 2.6rem 2rem 2.5rem;
    margin-top: 10.2rem;
  }
  .modal-title {
    color: rgb(41, 45, 51);
    font-size: 40px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 0;
  }
  .close-icon {
    height: 18px;
    width: 18px;
  }
  .modal-close {
    height: 40px;
    width: 40px;
    top: 30px;
    right: 30px;
  }
  .modal-text {
    color: rgb(130, 138, 153);
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 1.4rem;
  }
  .modal-form-footer {
    margin-top: 1.7rem;
  }
  .modal-form-button {
    height: 62px;
    margin-bottom: 18px;
  }

  .section-title-image {
    color: rgb(255, 255, 255);
  }
}
