* {
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.navbar {
  background-color: #303030;
  display: flex;
  align-items: center;
  color: #fff;
  height: 94px;
}
.header-logo {
  padding: 25px 50px;
}
.header-nav {
  flex-basis: 100%;
  display: flex;
  list-style: none;
  padding: 0 50px;
  margin: 0;
}
.header-nav-link {
  text-decoration: none;
  font-size: 16px;
  margin-right: 50px;
  color: inherit;
}
.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-phone-link {
  text-decoration: none;
  font-size: 16px;
  color: inherit;
  margin-right: 50px;
}
.button {
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
  color: #ffffff;
  background: rgb(58, 113, 209);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 60px;
  gap: 10px;
  border: none;
  flex-shrink: 0;
}
.header-button {
  height: 100%;
}
